<h1>Please Sign In:</h1>

<p id="notice"><%= notice %></p>

<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
  <%= render partial: 'users/form', locals: {f: f} %>  
<% end %>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>

<p>Not a member yet? <%= link_to "Sign Up Here.", new_user_path %></p>