<h3>Add Ingredients to Your Pantry:</h3><br>

<%= form_for(@pantry) do |f| %>
    <div class="form-group">
        <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :titleize do |b| %>
            <%= b.label { b.check_box(checked: false) } + b.text %>
        <% end %>
    </div><br>


    <table id="ingredients-table">
        <tr>
            <th>New Ingredients</th>
        </tr>
        <tr>
            <%= f.fields_for :ingredients do |ingred| %>
                <td><%= ingred.text_field "0" %></td>
            <% end %>
        </tr>
    </table>
    <tr><button type="button" id="add-ingredient">Add Row</button></tr>

    <br></br>

    <div class="actions">
        <%= f.submit%>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        let i = 1;
        $("#add-ingredient").click(function(){
            $("#ingredients-table").append('\
            <tr> \
                <td><input type="text" name="pantry[ingredients]['+i+']"</td> \
            </tr><br> \
            ');
            i++;
        });
      });
    </script>
<% end %>
